@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
}

.container {
    border: 5px solid #95a5a6;
}

.flex-item {
    color: white;
    font-size: 18px;
    padding: 16px;
    text-align: center;
}

.box-1 {
    background-color: #eb2f06;
}

.box-2 {
    background-color: #3c6382;
}

.box-3 {
    background-color: #2ecc71;
}

.box-4 {
    background-color: #FD7272;
}

.box-5 {
    background-color: #00d2d3;
}

/* -------------------------------- */

.container {
    display: flex;
    height: 264px;
    flex-direction: column;
    align-items: stretch;
}

.box-1 {
    align-self: auto;
}

.box-2 {
    align-self: flex-start;
}

.box-3 {
    align-self: flex-end;
}

.box-4 {
    align-self: center;
}

.box-5 {
    align-self: stretch;
}